/*
	To add a comment in css: 
	ctrl + shift + /

	Used for styling our web page. It has its own syntax
	or way of coding writing from HTML.

	Syntax:
	
	*{
	property:  value;
	}


*/
/*universal - all elements*/
* {
	font-family: "Roboto", sans-serif;
}

/*type - select particular tags*/
h1,h2{
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;

	border-color: blue;
	border-width: 5px;
	border-style: solid;
	border-radius: 200px; /*or 50% para mahimong circle*/
}

/*id-selector = #idname*/
#landing {
	/*vh = viewport height - measurement based on the height of the web page and the
	device youre currently viewing the page*/
	height: 80vh;
	/*we can manipulate the contents of an element using flexbox*/
	display: flex;
	/*arrange the contents of an element with flex, as a column*/
	flex-direction: column;
	/*center all contents of an element with flex as a  column horizontally*/
	align-items: center;
	/*center all contents of an element with flex as a column vertically*/
	justify-content: center;

}

#gallery {
	/*vh = viewport height - measurement based on the height of the web page and the
	device youre currently viewing the page*/
	height: 75vh;
	/*center the contents of #gallery section horizontally and vertically using
	flex.*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#aboutme {
	/*vh = viewport height - measurement based on the height of the web page and the
	device youre currently viewing the page*/
	height: 100vh;
	/*center the contents of #gallery section horizontally and vertically using
	flex.*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	/*hex decimal can be added as a value for color.
	This is will us to specify a particular color. */
	color: #007bff;
}

/*class selector - .className*/
.tools {
	border: 5px solid #f2f2f2;
	padding: 25px;
	margin: 20px;
	height: 200px;
	/*the width of this element is at 75% of its parent element or the element
	that contains*/
	width: 75%;
}

.abt{
	border: 5px solid #f2f2f2;
	padding: 25px;
	margin: 20px;
	height:  800px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}